[Unit]
Description=Brick Manager
After=multi-user.target
Requires=connman.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/brickman
