Source: brickman
Section: embedded
Priority: standard
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9), dh-systemd, cmake, valac (>= 0.24),
               libgirepository1.0-dev, libgudev-1.0-dev,
               libncurses5-dev, libev3devkit-dev, libgrx-dev, netpbm
Standards-Version: 3.9.5
Homepage: https://www.ev3dev.org
Vcs-Git: git://github.com/ev3dev/brickman.git
Vcs-Browser: https://github.com/ev3dev/brickman

Package: brickman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd, connman, bluez (>= 5)
Suggests: openrobertalab
Description: ev3dev Brick Manager
 Provides a user interface for LEGO MINDSTORMS EV3 running ev3dev.
